 table {
            border-collapse: collapse;
            width: 100%;
            text-align: center;
            color: #0e0b0b;
            align-self: center;
        }
        td,th {
            border: 2px solid black;
            padding: 10px;
        }
        tr:nth-child(even){
            background-color: #a0a0a0;
        }
        body{
            background-color: #313131;
        }
